/**
 * FLAT UI Flavored Adminer Theme by M. Mahbubur Rahman (mahbub@mahbubblog.com)
 * Enhanced by François Jacquet
 * Based on work by : Lukáš Brandejs
 *
 * Screenshot: https://raw.github.com/francoisjacquet/adminer-theme-flat-ui/master/screenshot.png
 * https://raw.github.com/francoisjacquet/adminer-theme-flat-ui/master/adminer.css
 */


 * {
	font: 14px "Roboto","Proxima Nova Rg","Source Sans Pro","Droid Sans",Arial,Helvetica, sans-serif;
	color:#333333;
	margin:0;
	padding:0;
}

body{
	background: #edeeef;
}

a,a:visited {
	color:#2980b9;
	text-decoration:none;
	padding:3px 1px;
}
#dbs span, #dbs:not(select){
	color:white;
	line-height: 24px;
}

#content table thead span, #content table thead a {
	font-weight:bold;
	color:#FFF;
	text-shadow:0 01px 0 #000;
}
#content table thead span:hover, #content table thead a:hover {
	text-shadow: none;
}

#content table thead a:hover {
	background:none;
	text-decoration:underline;
	color:black;
}

a:hover {
	text-decoration:underline;
}

h1 {
	font-size:1.9em;
	font-weight:normal;
	background:white;
	color:#1e5eb6;
	border-bottom:1px solid rgb(85, 112, 139);
	padding:20px;
	margin:0;
}

#menu h1 {
	padding:0 0 5px 20px;
	background:none;
}

h2,h3 {
	font-size:1.7em;
	font-weight:bold;
	background:transparent;
	color:#34495e;
	border-bottom:1px solid #fff;
	padding:6px 0;
	margin:0;
}

fieldset {
	padding:6px;
	border:1px solid #cdcdcd;
}
input,select,textarea {
	border:1px solid #e5e5e5;
	margin:1px;
	padding:4px;
}

select {
	padding: 0;
}
option {
	padding: 4px;
}

input[type=submit] {
	color:white;
	background:#27ae60;
	padding:4px 10px;
	cursor:pointer;
	border:0 solid;
}

input[type=submit]:hover{
	background:#2c3e50;
}

input[type=checkbox]{
	margin-right:5px;
}

input[type=image] {
	border:1px solid #d0cdc4;
}

input[type=checkbox],input[type=radio]{
	border:1px solid #e5e5e5;
	padding:2px 5px;
}

code{
	background:#f0ffe1;
	border:1px dashed #d5f1b9;
	padding:6px;
	font-family:"Monaco","Courier New";
}
code a:hover{background:transparent}

table{
	margin:10px 0;
	border:1px solid #E6E6E6;
	background-color:#fff;
}

tbody tr:hover td,tbody tr:hover th{
	background:#dce3ee
}

thead th, thead td {
	text-align:left;
	vertical-align:middle;
	font-weight:bold;
	white-space:nowrap;
	border-right:1px solid #34495e;
	background:#34495e;
	color:#fff;
	padding: 8px 6px;
	padding-right:12px;
}
thead th acronym, thead td acronym, thead th sup, thead td sup{
	color:#CCDDFF;
}

th,td{
	border-color: transparent;
	border-top-color: #fff;
	border-bottom-color: #dfdfdf;
	padding: 6px;
	vertical-align:top;
}

th a {
	font-weight:bold;
	padding-bottom:0;
	text-shadow:1px 1px 1px #FFF;
}

th {
	background:white;
}

tr.odd, tr:nth-child(2n), tr:nth-child(2n) th {
	background:#f9f9f9;
}

#content tbody tr.checked td, tr.checked.odd td {
	background:#fbe2e2;
	color:red;
}

.hidden{
	display:none
}

.error,.message{
	padding:0;
	background:transparent;
	font-weight:bold
}

.error{
	color:#c00
}

.message{
	color:#090
}

#content{
	margin: 0 0 0 360px;
	padding: 60px 20px 40px 0;
	height:100%;
}

#lang {
	background:#ecf0f1;
	color:#808080;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:8px 10px;
	z-index:1;
}

#breadcrumb {
	position:fixed;
	top:0;
	left:350px;
	background:#48A5BF;
	z-index:2;
	width:100%;
	color:#ecf0f1;
	padding:10px;
	font-size:15px;
	font-weight:bold;
}
#breadcrumb a{
	color:#ecf0f1;
	font-size:15px;
	font-weight:bold;
}

#menu {
	background:#34495e;
	position:fixed;
	top:40px;
	color:#FFF;
	padding:10px;
	padding-right:20px;
	padding-top: 0;
	bottom:0;
	overflow:auto;
	left:0;
	width:300px;
	border-right:2px solid #34495e;
	z-index: 10000;
}

#menu p, #tables{
	border-bottom:1px solid rgb(85, 112, 139);
}

#menu a{
	color:#FFF;
}

#schema .table {
	padding:5px;
	background:#fcfaf5;
	border:1px solid #d0cdc4;
}

#schema .table b {
	color:#006aeb;
	font-weight:bold;
	text-decoration:underline;
}

#schema .table b:hover {
	color:white;
}

input[name=logout] {
	color:#fce2e2;
	background:#d73e3e;
}

input[name=drop] {
	background-color:#c0392b;
}

input[name=logout]:hover {
	background:#ea0202;
}

#logins a, #tables a {
	background:none;
}

#logout {
	color:#FFF;
	text-decoration:none;
}

.logout {
	z-index:3;
	position: fixed;
}

.js .column {
	background:#ecf0f1;
}

#content table thead .text:hover {
	text-decoration:none;
}

#version, .version {
	font-size:50%;
}

#h1:hover {
	color:white;
}


input[type=submit] {
	font-weight:normal;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:0 solid #469df5;
	padding:6px 12px;
	text-decoration:none;
	background-color:#65ADC3;
	color:#ffffff;
	display:inline-block;
	text-shadow:0 01px 0 #287ace;
	-webkit-box-shadow:inset 0 0 0 0 #cae3fc;
	-moz-box-shadow:inset 0 0 0 0 #cae3fc;
	box-shadow:inset 0 0 0 0 #cae3fc;
}
input[type=submit]:hover {
	background-color:#34495e;
	text-shadow:0 1px 0 #000;
}
input[type=submit]:active {
	position:relative;
	top:1px;
}


table
{
	-webkit-box-shadow: 0 5px 5px #999;
	-moz-box-shadow: 0 5px 5px #999;
	box-shadow: 0 5px 5px #999;
}

i {
	font-style: italic;
	color: gray;
	/*font-size: 90%;*/
	font-family: monospace;
	/*border: 1px silver solid;*/
}

/* Added */
#tables li {
	padding: 4px 0;
}

.links a {
	padding: 4px 0;
	display: inline-block;
}

.pages a {
	padding: 3px;
}

code.jush-pgsql {
	line-height: 2;
}

pre code.jush-sql, .message code.jush-sql {
	line-height: 2;
	border: 0;
}

code.jush-sql {
	line-height: 2;
}

#fuzzy_tables_search_result {
	background-color: #7da0c3 !important;
}